@import './node_modules/bootstrap/scss/bootstrap.scss';
body {
    background-color: white;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-fluid {
    max-width: 900px;
    margin: 0 auto;
}

.buy {
    color: rgb(75, 192, 192);
}

.sell {
    color: rgb(255, 99, 132);
}

.stats {
    font-size: 18px;
    font-weight: 600;
}